$header: transparent;
$light: #fff;
$footer: #c4caef;
$morning: #f5875e;

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  color: #d8572a;
}

body {
  font-family: "Raleway", Tahoma, sans-serif;
}

.header {
  background-color: $header;
  width: 100%;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 8px 1px rgba(148, 148, 148, 1);

  a {
    //   text-decoration: none;
    color: inherit;
    padding: 1rem 0;
  }
}

.nav {
  text-align: center;
  padding: 0.5rem;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Itim", sans-serif;
    font-size: 1.5rem;
    color: #d8572a;

    &--effect {
      transition: all 0.5s;
      animation: effect 2s linear;
    }
    &--effect:hover {
      transform: scale(1.2, 1.2);
    }

    &:visited {
      color: #d8572a;
    }
  }
  &__mobileMenu {
    display: block;
    width: 2rem;
    margin: 0 0.5rem;
  }
  &__link {
    display: none;

    h3 a {
      transition: all 0.5s;
    }

    h3 a:hover {
      display: block;
      color: #fc541d;
      transform: scale(1.2, 1.2);
    }
  }
}

@keyframes effect {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(15%);
  }
}

.fa-bars {
  color: #000;
  padding-right: 0.5rem;
}

.divisor {
  visibility: hidden;
}

.show {
  display: flex;
  flex-direction: column;

  h3 {
    padding: 0.5rem 0;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    align-items: center;

    &__title img {
      margin-right: 1rem;
    }

    &__mobileMenu {
      display: none;
    }
    &__link {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      padding: 0 2rem;
    }
  }
  .divisor {
    visibility: visible;
    padding: 1rem 0;
  }
  .show {
    // display: block;
    // .nav__item {
    //   background-color: $morning;
    //   width: 80%;
    //   border-radius: 5rem;
    //   margin: 0.2rem auto;
    // }
    h3 {
      padding: 0;
    }
  }

  @keyframes effect {
    0% {
      transform: translateX(-75%);
    }
    25% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(30%);
    }
    75% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.footer {
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  &__items {
    background-color: $footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8%;
  }

  &__text {
    padding: 0 15px;
  }
}
