html {
  font-size: 62.5%;
}

body {  
  font-size: 16px; 
  background-color: #af90e4;  
}

* {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  

  &__title {
    display: flex;      
    align-items: center;   
    color: white;
    margin: 0 3rem;
    margin-top: 2rem;
    font-size: 2rem;
  }

  &__activity-image {
    order: 2;
    width: 80%;  
    margin: 0 auto;
    border-radius: 1rem;
  }

  &__data {    
    margin: 2rem 4rem;  
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__info p {
    font-size: 1.5rem !important;
    margin: 1rem 0;
  }

  &__info-location {
    display: flex;    
    align-items: center;
    color: white;    
  }
  &__info-location p {
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 0.5rem;
  }

  &__info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 0.8rem;
    font-weight: bolder;
  }

  &__info-price {
    color: white;
  }

  &__data_icons {
    display: flex;    
    justify-content: space-evenly;
    font-size: 2rem;
    color: white;
  }
}

.fa {
  &-caret-left {
    color: black;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  body {
    background-color: white;   
  }

  .section {
    flex-flow: row wrap;

    &__activity {
      width: 100%;
    }

    &__title {
      color: black;    
      margin-bottom: 2rem;  
    }

    &__activity-image {
      order: 0;
      width: 40%; 
      margin-top: 1rem;
    }

    &__data {  
      display: flex;  
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      margin: 0 auto;
   
    }
    
    &__info p {      
      line-height: 2rem;
      text-align: right;
    }

    &__info-location {
      color: black;
    }

    &__info-price {
      color: black;
    }   

    &__data_icons {    
      font-size: 3rem;    
      margin-top: 1rem;
      color: black;
      width: 100%;
    }
  }  
}

// Form
.form {
  width: min(40rem, 100%);
  margin: 0 auto;  

  &__container {   
    margin: 3rem 1rem;
  }

  input:not([type="submit"]) {
    background-color: #6f6c6e;    
    padding: 1rem;
    width:95%;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
  }

  &__buttom {
    background-color: #9d9d9d;    
    padding: 2rem;
    width: 100%;
    color: white;
    border: none;
    border-radius: 1rem;
  }

  input::placeholder {
    color: white;
  }

  &__buttom:hover {
    cursor: pointer;
  }
}
