body {
  margin: 0;
  background-color: #af90e4;
  padding: 5px 10px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.section__title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  order: 0;
  color: white;
  font-size: 3vh;
}

.fa-caret-left {
  color: black;
  padding-right: 1.5rem;
}

.section__activity-image {
  order: 2;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  border-radius: 10px;
}

.section__data {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  order: 0;
  margin-bottom: 1.5rem;
}

.section__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.section__info-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 10px;
}
.section__info-location p {
  font-size: 1rem;
  font-weight: bolder;
  padding-left: 0.5rem;
}

.section__info p {
  margin: 0;
}

.section__info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 0.8rem;
  font-weight: bolder;
}

.section__info-price {
  color: white;
}

.section__data_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  margin-bottom: 10px;
  font-size: 0.7rem;
  color: white;
}

.fa-heart {
  padding-bottom: 0.5rem;
}
.fa-users {
  padding-top: 1.5rem;
}

@media (min-width: 768px) {
  body {
    background-color: white;
    width: 100%;
    margin: auto;
    margin-left: 3rem;
  }
  .section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section__activity {
    width: 100%;
  }

  .section__title {
    color: black;
    font-weight: bolder;
    font-size: 4vh;
  }

  .section__activity-image {
    order: 0;
    width: 35%;
    height: 25%;
    margin: 0 10% 0 3%;
    margin-top: 1rem;
  }

  .section__data {
    order: 1;
    width: 30%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .section__info {
    width: 100%;
  }

  .section__info p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
  }

  .section__info-location {
    color: black;
  }

  .section__info-price {
    color: black;
  }

  .section__info-text {
    justify-content: right;
    align-items: right;
  }
  .section__data_icons {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    margin-top: 2rem;
    color: black;
    width: 90%;
  }

  .fa-heart {
    padding-bottom: 0;
  }
  .fa-users {
    padding-top: 0;
  }
}
