$light: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: #000;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0.9rem;
  padding: 1rem 0;

  img {
    min-width: 15rem;
  }

  &__title {
    width: 20rem;
    text-align: center;
    padding-bottom: 3rem;

    &--boldText {
      color: #CF4834;
      font-size: 2rem;
    }
  }
}

.section__cards {
  margin: 3rem 0;
  padding: 1rem 0;
}

.cards {
  &__categories {
    padding-left: 3rem;
  }

  &__navigation {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
    width: auto;

    button {
      position: absolute;
      height: 50%;
      background-color: transparent;
      border: 1px solid transparent;

      i {
        font-size: 30px;
        color: rgba(100, 10, 200, 0.3);
      }
    }

    .buttonRight {
      right: -25px;
    }

    .buttonLeft {
      left: -25px;
    }
  }
}

.carousel {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  align-items: center;
  height: 11rem;
}

@mixin cardText {
  color: $light;
  letter-spacing: 0.8px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card {
  @include cardText();
  margin: 0 5px 0 0px;
  min-width: 292px;
  max-width: 390px;
  text-align: center;
  border-radius: 15px;
  height: 10rem;
  box-shadow: 0px 10px 35px rgba(74, 128, 240, 0.2);
  

  &__title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
  }
  
  &:hover {
    transform: scale(1.05) translate(0.5rem);
  }

  &:last-child:hover {
    transform: scale(1.05) translate(-0.5rem);
  }
}

//inicio
.card-0 {
  background: url('../img/pink-card-bg.png');
  position: center;
}

@for $i from 1 through 7 {
   $step: 1 + ((($i) - 1) * 3);
  //Mitad
  .card-#{$step} {
    background: url('../img/blue-card-bg.png');
  /*   position: center; */
  }
  //final
  .card-#{$step + 1 } {
    background: url('../img/red-card-bg.png');
  /*   position: center; */
  }
  //inicio
  .card-#{$step + 2 } {
    background: url('../img/pink-card-bg.png');
  /*   position: center; */
  }
}

.rectangle {
  padding: 0.8rem;
  min-width: 291px;
  max-width: 391px;
  height: 7.5rem;
  left: 0px;
  top: 0px;
  background: radial-gradient(
    153.74% 864.67% at 100% 100%,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.42) 91.04%
  );
  background-blend-mode: overlay;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
  /* Note: backdrop-filter has minimal browser support */
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0;
  font-size: 0.7rem;
}

@media (min-width: 48em) {
  .banner {
    margin: 2rem 1rem 0;
  }
  .cards__categories {
    padding: 1rem 3rem;
    margin: 0;
  }
}



