* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 5px 10px;
  background: linear-gradient(120.52deg, #adb7f3 26.84%, rgba(255, 255, 255, 0) 86.33%);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.section__title {
  padding: 0 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  order: 0;
  color: #fff;
  font-size: 1.3rem;
}
.section__image {
  order: 2;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 6px;
}
.section__data {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  order: 0;
  margin-bottom: 1rem;
}
.section__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding-left: 2rem;
}
.section__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: #fff;
  padding-bottom: 10px;
  align-self: start;
}
.section__location p {
  font-size: 1rem;
  font-weight: bolder;
}
.section__info p {
  margin-bottom: 0.5rem;
}
.section__users {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.section__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 0.8rem;
  font-weight: bolder;
  align-self: start;
}
.section__description * {
  margin-bottom: 0.2rem;
}
.section__date {
  margin-left: 2rem;
}
.section__price {
  color: #fff;
  margin-left: 2rem;
}
.section__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  margin-bottom: 0.7rem;
  font-size: 0.7rem;
  color: #fff;
}
.section__free-item {
  background-color: #00c39d;
  border-radius: 5px;
  color: #fff;
  margin-left: 2rem;
  padding: 10px;
  width: fit-content;
  text-transform: uppercase;
}

.fa-caret-left {
  color: #000;
  padding-right: 1.5rem;
}
.fa-map-marker-alt {
  padding-right: 0.5rem;
}
.fa-heart {
  padding-bottom: 0.5rem;
}
.fa-users {
  padding-right: 0.8rem;
  color: #fff;
}

.form {
  width: min(40rem, 100%);
}
.form__container {
  margin: 3rem 1rem;
}
.form__container .input-container {
  margin-bottom: 1rem;
}
.form input:not([type=submit]) {
  background-color: #fff;
  color: #202020;
  padding: 1rem;
  width: 95%;
  border: none;
  border-radius: 0.5rem;
}
.form #error {
  border: 2px solid #f00;
}
.form #succes {
  border: 2px solid #080;
}
.form__button {
  background-color: #202020;
  padding: 1.5rem;
  width: 95%;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 0 auto;
}
.form input::placeholder {
  color: #202020;
}
.form input:focus {
  outline: none;
}
.form__button:hover {
  cursor: pointer;
  background-color: #000;
}
.form .error-info {
  list-style: none;
  color: #f00;
  width: 95%;
  padding: 0.3em;
}

.registration {
  margin: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  main {
    margin: auto;
    width: 100%;
    background: linear-gradient(61.52deg, #c4caef 6.84%, rgba(255, 255, 255, 0) 86.33%);
    height: 100vh;
  }

  .section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section__title {
    width: 100%;
    padding: 1rem 0 1.2rem 7rem;
    color: #000;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .section__image {
    order: 0;
    width: 35%;
    height: 25%;
    margin: 1rem 6rem 0 0;
  }
  .section__data {
    order: 1;
    width: 30%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .section__info {
    width: 100%;
  }
  .section__info p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: right;
    margin-bottom: 1.3rem;
  }
  .section__location {
    align-self: flex-end;
    color: #000;
  }
  .section__price {
    color: #000;
  }
  .section__description {
    justify-content: right;
    align-items: right;
    align-self: flex-end;
  }
  .section__icons {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    margin-top: 1.3rem;
    color: #000;
  }
  .section__free-item {
    align-self: flex-end;
  }

  .fa-heart {
    padding: 0 2rem;
  }

  .fa-users {
    padding: 0 2rem;
    color: #000;
  }
}

/*# sourceMappingURL=information.css.map */
